body {
    background-color: #282c34;
    /* background: url('https://upload.wikimedia.org/wikipedia/commons/5/53/Upplands_nation1.jpg') no-repeat center fixed;
    background-size: cover; */
    margin:0;
    padding:0;
    font-family: Roboto;
  }
h1, h2, h3, h4, h5, h6, p {
  margin-top: 3px; 
  margin-bottom: 3px;
}
  
  .bg-image {
    /* The image used */
    /* background: url('https://upload.wikimedia.org/wikipedia/commons/5/53/Upplands_nation1.jpg') fixed; */

    /* Add the blur effect */
    /* filter: blur(8px); */
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  